# Fact & Dimension Tables

## Star schema & Snowflake schema

In [2]:
import psycopg2


conn = psycopg2.connect("dbname=udacity user=postgres password=psrd")

cur = conn.cursor()

conn.set_session(autocommit=True)

## Lets create the fact table and insert the data into the table

In [4]:
cur.execute("create table if not exists customer_transactions (customer_id int, store_id int, spent numeric )")



cur.execute("insert into customer_transactions (customer_id, store_id, spent) values(%s, %s, %s)",
            (1, 1, 20.50))

cur.execute("insert into customer_transactions (customer_id, store_id, spent) values(%s, %s, %s)",
            (2, 1, 35.21))




cur.execute("select * from customer_transactions")

row = cur.fetchone()
while row:
    print(row)
    row = cur.fetchone()

(1, 1, Decimal('20.5'))
(2, 1, Decimal('35.21'))

In [5]:
cur.execute("create table if not exists items_purchased (customer_id int, item_number int, item_name varchar )")



cur.execute("insert into items_purchased (customer_id, item_number, item_name) values(%s, %s, %s)",
            (1, 1, "Rubber Soul"))

cur.execute("insert into items_purchased (customer_id, item_number, item_name) values(%s, %s, %s)",
            (2, 3, "Let It Be"))





cur.execute("select * from items_purchased")

row = cur.fetchone()
while row:
    print(row)
    row = cur.fetchone()

(1, 1, 'Rubber Soul')
(2, 3, 'Let It Be')

In [6]:
cur.execute("create table if not exists store (store_id int, state varchar )")



cur.execute("insert into store (store_id, state) values(%s, %s)",
            (1, "CA"))

cur.execute("insert into store (store_id, state) values(%s, %s)",
            (2, "WA"))





cur.execute("select * from store")

row = cur.fetchone()
while row:
    print(row)
    row = cur.fetchone()

(1, 'CA')
(2, 'WA')

In [7]:
cur.execute("create table if not exists customerz (customer_id int, name varchar, rewards boolean )")



cur.execute("insert into customerz (customer_id, name, rewards) values(%s, %s, %s)",
            (1, "Amanda", True))

cur.execute("insert into customerz (customer_id, name, rewards) values(%s, %s, %s)",
            (2, "Tobby", False))




cur.execute("select * from customerz")

row = cur.fetchone()
while row:
    print(row)
    row = cur.fetchone()

(1, 'Amanda', True)
(2, 'Tobby', False)


![alt text](sch3.png "Image 1 Display")

In [8]:
# Query 1:

cur.execute("select name, item_name, rewards FROM ((customer_transactions \
           JOIN customerz ON customerz.customer_id=customer_transactions.customer_id) \
           JOIN items_purchased ON customer_transactions.customer_id=items_purchased.customer_id) \
           WHERE spent > 30 ")


row = cur.fetchone()
while row:
    print(row)
    row = cur.fetchone()

('Tobby', 'Let It Be', False)

In [9]:
# Query 2:

cur.execute(" SELECT store_id, SUM(spent) FROM customer_transactions GROUP BY store_id ")


row = cur.fetchone()
while row:
    print(row)
    row = cur.fetchone()

(1, Decimal('55.71'))


![alt text](sch4.png "Image 1 Display")

In [10]:
#cur.execute("DROP TABLE customer_transactions")
#cur.execute("DROP TABLE items_purchased")
#cur.execute("DROP TABLE store")
#cur.execute("DROP TABLE customerz")