## Join data from multiple table

### INNER JOIN or just JOIN

![alt text](a1.png "Image 1 Display")

In [1]:
import psycopg2

conn = psycopg2.connect("host = 127.0.0.1 dbname=postgres user=Lord password=Lord")

cur = conn.cursor()

In [3]:
conn.set_session(autocommit=True)

### Example

![alt text](a2.png "Image 1 Display")

## create tables customer

In [9]:
cur.execute("CREATE TABLE customers (ID int, Name varchar)")

In [10]:
cur.execute('INSERT INTO customers(ID, Name) values (%s, %s)',
           (1, "Jose"))

cur.execute('INSERT INTO customers (ID, Name) values (%s, %s)',
           (2, "Rolf"))

cur.execute('INSERT INTO customers (ID, Name) values(%s, %s)',
           (3, "Anna"))

cur.execute('INSERT INTO customers (ID, Name) values(%s, %s)',
           (4, "Robert"))

In [11]:
cur.execute("select * from customers")

row = cur.fetchone()

while row:
    print(row)
    row = cur.fetchone()

(1, 'Jose')
(2, 'Rolf')
(3, 'Anna')
(4, 'Robert')

In [8]:
#cur.execute('DROP TABLE customers')

## Create table orders

In [12]:
cur.execute('CREATE TABLE orders (ID int, customer_ID int, products varchar)')

In [13]:
cur.execute('INSERT INTO orders (ID, customer_ID, products) values (%s, %s, %s)',
           (1, 1, "Chair"))

cur.execute('INSERT INTO orders (ID, customer_ID, products) values (%s, %s, %s)',
           (2, 1, "Pen"))

cur.execute('INSERT INTO orders (ID, customer_ID, products) values (%s, %s, %s)',
           (3, 1, "Monitor"))

cur.execute('INSERT INTO orders (ID, customer_ID, products) values (%s, %s, %s)',
           (4, 3, "Headphones"))

In [15]:
cur.execute("SELECT * from orders")

row = cur.fetchone()

while row:
    print(row)
    row = cur.fetchone()

(1, 1, 'Chair')
(2, 1, 'Pen')
(3, 1, 'Monitor')
(4, 3, 'Headphones')

## Implement Inner Join

In [17]:
cur.execute("SELECT * FROM customers INNER JOIN orders ON customers.ID = orders.customer_ID")

In [18]:
row = cur.fetchone()

while row:
    print(row)
    row = cur.fetchone()

(1, 'Jose', 1, 1, 'Chair')
(1, 'Jose', 2, 1, 'Pen')
(1, 'Jose', 3, 1, 'Monitor')
(3, 'Anna', 4, 3, 'Headphones')

In [20]:
cur.execute("DROP TABLE customers")
cur.execute("DROP TABLE orders")