# Left Join

### left Joins

![alt text](a3b.png "Image 1 Display")

In [1]:
import psycopg2


conn = psycopg2.connect("host = 127.0.0.1 dbname = postgres user = postgres password =pswd")

cur = conn.cursor()

In [2]:
conn.set_session(autocommit=True)

### Inner Joins sample

![alt text](a4.png "Image 1 Display")

## create tables Customer

In [3]:
cur.execute("CREATE TABLE Customers (ID int, Name varchar)")

In [4]:
cur.execute('INSERT INTO Customers(ID, Name) values (%s, %s)',
           (1, "Jose"))

cur.execute('INSERT INTO Customers (ID, Name) values (%s, %s)',
           (2, "Rolf"))

cur.execute('INSERT INTO Customers (ID, Name) values(%s, %s)',
           (3, "Anna"))

cur.execute('INSERT INTO Customers (ID, Name) values(%s, %s)',
           (4, "Robert"))

In [6]:
cur.execute("SELECT * FROM Customers")

row = cur.fetchone()


while row:
    print(row)
    row = cur.fetchone()

(1, 'Jose')
(2, 'Rolf')
(3, 'Anna')
(4, 'Robert')

## Create table Orders

In [7]:
cur.execute('CREATE TABLE Orders (ID int, customer_ID int, products varchar)')

In [8]:
cur.execute('INSERT INTO Orders (ID, customer_ID, products) values (%s, %s, %s)',
           (1, 1, "Chair"))

cur.execute('INSERT INTO Orders (ID, customer_ID, products) values (%s, %s, %s)',
           (2, 1, "Pen"))

cur.execute('INSERT INTO Orders (ID, customer_ID, products) values (%s, %s, %s)',
           (3, 1, "Monitor"))

cur.execute('INSERT INTO Orders (ID, customer_ID, products) values (%s, %s, %s)',
           (4, 3, "Headphones"))

In [9]:
cur.execute("SELECT * FROM Orders")

row = cur.fetchone()

while row:
    print(row)
    row = cur.fetchone()

(1, 1, 'Chair')
(2, 1, 'Pen')
(3, 1, 'Monitor')
(4, 3, 'Headphones')

## Implement left Join

In [10]:
cur.execute("SELECT * FROM Customers LEFT JOIN Orders ON Customers.ID = Orders.customer_ID")

In [11]:
row = cur.fetchone()

while row:
    print(row)
    row = cur.fetchone()

(1, 'Jose', 1, 1, 'Chair')
(1, 'Jose', 2, 1, 'Pen')
(1, 'Jose', 3, 1, 'Monitor')
(2, 'Rolf', None, None, None)
(3, 'Anna', 4, 3, 'Headphones')
(4, 'Robert', None, None, None)