# Foreign Key - RDBMS - Postgre

In [1]:
import psycopg2

conn = psycopg2.connect("host=127.0.0.1 dbname=postgres user=yours password=yours")
cur = conn.cursor()

In [2]:
conn.set_session(autocommit=True)

### table 1

![alt text](f1.png "Image 1 Display")

In [3]:
cur.execute("CREATE TABLE IF NOT EXISTS users (id int, name varchar, address varchar, salutation varchar, PRIMARY KEY (id))")

In [4]:
cur.execute("INSERT INTO users VALUES(1,'Janet Jones', 'No 4 First Street Plot', 'Ms')")
            
cur.execute("INSERT INTO users VALUES(2,'Robert Phil', '3rd Street 34', 'Mr')")

cur.execute("INSERT INTO users VALUES(3,'Robert Phil', '5th Avenue', 'Mr')")

In [5]:
cur.execute("SELECT * FROM users")
row = cur.fetchone()

while row:
    print(row)
    row = cur.fetchone()

(1, 'Janet Jones', 'No 4 First Street Plot', 'Ms')
(2, 'Robert Phil', '3rd Street 34', 'Mr')
(3, 'Robert Phil', '5th Avenue', 'Mr')

### table 2

![alt text](f2.png "Image 1 Display")

In [6]:
cur.execute("CREATE TABLE IF NOT EXISTS movie (movie_id int, movie_name varchar,  PRIMARY KEY (movie_id))")

In [7]:
cur.execute("INSERT INTO movie VALUES(1,'Pirates of the Carribean')")
            
cur.execute("INSERT INTO movie VALUES(2,'Clash of the Titans')")

cur.execute("INSERT INTO movie VALUES(3,'Forgetting Sarah Marshal')")

cur.execute("INSERT INTO movie VALUES(4,'Daddy Little Girls')")

In [8]:
cur.execute("SELECT * FROM movie")
row = cur.fetchone()

while row:
    print(row)
    row = cur.fetchone()

(1, 'Pirates of the Carribean')
(2, 'Clash of the Titans')
(3, 'Forgetting Sarah Marshal')
(4, 'Daddy Little Girls')

## Now add a 3rd table having foreign from both users and movie tables

In [9]:
cur.execute("CREATE TABLE IF NOT EXISTS movie_user (person_id int, name varchar, movie_name varchar, \
user_id int REFERENCES users(id), movie_nos int REFERENCES movie(movie_id), \
shoot_location varchar, PRIMARY KEY (person_id))")

### Another way to define a foreign key constraint is to use the table constraint as follows:

In [10]:
cur.execute("CREATE TABLE IF NOT EXISTS movie_user (person_id int, name varchar, movie_name varchar, \
user_id int, movie_nos int, shoot_location varchar, PRIMARY KEY (person_id), \
FOREIGN KEY (user_id) REFERENCES users (id), FOREIGN KEY (movie_nos) REFERENCES movie (movie_id))")

In [11]:
cur.execute("INSERT INTO movie_user VALUES(1, 'Janet Jones', 'Pirates of the Carribean', 1, 1, 'USA')")
            
cur.execute("INSERT INTO movie_user VALUES(2, 'Robert Phil', 'Clash of the Titans', 2, 2, 'Spain')")

cur.execute("INSERT INTO movie_user VALUES(3, 'Robert Phil', 'Forgetting Sarah Marshal', 3, 3, 'UK')")

cur.execute("INSERT INTO movie_user VALUES(4, 'Robert Phil', 'Daddy Little Girls', 2, 4, 'Brazil')")

cur.execute("INSERT INTO movie_user VALUES(5, 'Janet Jones', 'Pirates of the Carribean', 1, 1, 'USA')")

cur.execute("INSERT INTO movie_user VALUES(6, 'Robert Phil', 'Clash of the Titans', 3, 2, 'Spain')")

cur.execute("INSERT INTO movie_user VALUES(7, 'Robert Phil', 'Forgetting Sarah Marshal', 3, 3, 'UK')")

cur.execute("INSERT INTO movie_user VALUES(8, 'Janet Jones', 'Daddy Little Girls', 1, 4, 'Brazil')")

cur.execute("INSERT INTO movie_user VALUES(9, 'Robert Phil', 'Pirates of the Carribean', 2, 1, 'USA')")

In [12]:
cur.execute("SELECT * FROM movie_user")
row = cur.fetchone()

while row:
    print(row)
    row = cur.fetchone()

(1, 'Janet Jones', 'Pirates of the Carribean', 1, 1, 'USA')
(2, 'Robert Phil', 'Clash of the Titans', 2, 2, 'Spain')
(3, 'Robert Phil', 'Forgetting Sarah Marshal', 3, 3, 'UK')
(4, 'Robert Phil', 'Daddy Little Girls', 2, 4, 'Brazil')
(5, 'Janet Jones', 'Pirates of the Carribean', 1, 1, 'USA')
(6, 'Robert Phil', 'Clash of the Titans', 3, 2, 'Spain')
(7, 'Robert Phil', 'Forgetting Sarah Marshal', 3, 3, 'UK')
(8, 'Janet Jones', 'Daddy Little Girls', 1, 4, 'Brazil')
(9, 'Robert Phil', 'Pirates of the Carribean', 2, 1, 'USA')

## insert new row into movie_user not inserted in table users before

error

In [13]:
cur.execute("INSERT INTO movie_user VALUES(10, 'Robert Phil', 'Pirates of the Carribean', 4, 1, 'USA')")

ForeignKeyViolation: insert or update on table "movie_user" violates foreign key constraint "movie_user_user_id_fkey"
DETAIL:  Key (user_id)=(4) is not present in table "users".

## insert new row into movie_user not inserted in table movie before

error

In [14]:
cur.execute("INSERT INTO movie_user VALUES(11, 'Robert Phil', 'Pirates of the Carribean', 2, 5, 'USA')")

ForeignKeyViolation: insert or update on table "movie_user" violates foreign key constraint "movie_user_movie_nos_fkey"
DETAIL:  Key (movie_nos)=(5) is not present in table "movie".

## Try to delete tables

In [15]:
cur.execute("DROP TABLE users")
cur.execute("DROP TABLE movie")
cur.execute("DROP TABLE movie_user")

DependentObjectsStillExist: cannot drop table users because other objects depend on it
DETAIL:  constraint movie_user_user_id_fkey on table movie_user depends on table users
HINT:  Use DROP ... CASCADE to drop the dependent objects too.

## Use DROP ... CASCADE to drop the dependent objects too.

CASCADE will remove a dependent view entirely, but in the foreign-key case it will only remove the foreign-key constraint, not the other table entirely.

In [16]:
cur.execute("DROP TABLE users CASCADE")
cur.execute("DROP TABLE movie CASCADE")
cur.execute("DROP TABLE movie_user CASCADE")