# Right Joins - relational DB postges

### right Joins

![alt text](a5.png "Image 1 Display")

In [2]:
import psycopg2


conn = psycopg2.connect("host = 127.0.0.1 dbname = postgres user = postgres password =pswd")

cur = conn.cursor()

In [3]:
conn.set_session(autocommit=True)

### Inner Joins

![alt text](a6.png "Image 1 Display")

## CREATE TABLE Customez

In [4]:
cur.execute("CREATE TABLE Customez (ID int, Name varchar)")

In [5]:
cur.execute('INSERT INTO Customez(ID, Name) values (%s, %s)',
           (1, "Jose"))

cur.execute('INSERT INTO Customez (ID, Name) values (%s, %s)',
           (2, "Rolf"))

cur.execute('INSERT INTO Customez (ID, Name) values(%s, %s)',
           (3, "Anna"))

cur.execute('INSERT INTO Customez (ID, Name) values(%s, %s)',
           (4, "Robert"))

In [6]:
cur.execute("SELECT * FROM Customez")

row = cur.fetchone()


while row:
    print(row)
    row = cur.fetchone()

(1, 'Jose')
(2, 'Rolf')
(3, 'Anna')
(4, 'Robert')

## CREATE TABLE Orderz

In [13]:
cur.execute('CREATE TABLE Orderz (ID int, customer_ID int, products varchar)')

In [14]:
cur.execute('INSERT INTO Orderz (ID, customer_ID, products) values (%s, %s, %s)',
           (1, 1, "Chair"))

cur.execute('INSERT INTO Orderz (ID, customer_ID, products) values (%s, %s, %s)',
           (2, 1, "Pen"))

cur.execute('INSERT INTO Orderz (ID, customer_ID, products) values (%s, %s, %s)',
           (3, 1, "Monitor"))

cur.execute('INSERT INTO Orderz (ID, customer_ID, products) values (%s, %s, %s)',
           (4, 3, "Headphones"))

In [15]:
cur.execute("SELECT * FROM Orderz")

row = cur.fetchone()


while row:
    print(row)
    row = cur.fetchone()

(1, 1, 'Chair')
(2, 1, 'Pen')
(3, 1, 'Monitor')
(4, 3, 'Headphones')

## Implement Joins

In [18]:
cur.execute("SELECT * FROM Customez RIGHT JOIN Orderz ON Customez.ID = Orderz.customer_ID")

row = cur.fetchone()

while row:
    print(row)
    row = cur.fetchone()

(1, 'Jose', 1, 1, 'Chair')
(1, 'Jose', 2, 1, 'Pen')
(1, 'Jose', 3, 1, 'Monitor')
(3, 'Anna', 4, 3, 'Headphones')

In [12]:
#cur.execute('drop table Orderz')