# 3 Tables Joins  - relational DB postges

In [1]:
import psycopg2


conn = psycopg2.connect("host = 127.0.0.1 dbname=postgres user=postgres password=lord")

cur = conn.cursor()

In [2]:
conn.set_session(autocommit=True)

## CREATE TABLE first

In [3]:
cur.execute("CREATE TABLE first (ID int, Name varchar)")

In [4]:
cur.execute('INSERT INTO first(ID, Name) values (%s, %s)',
           (1, "Jose"))

cur.execute('INSERT INTO first (ID, Name) values (%s, %s)',
           (2, "Rolf"))

cur.execute('INSERT INTO first (ID, Name) values(%s, %s)',
           (3, "Anna"))

cur.execute('INSERT INTO first (ID, Name) values(%s, %s)',
           (4, "Robert"))

In [5]:
cur.execute("SELECT * FROM first")

row = cur.fetchone()


while row:
    print(row)
    row = cur.fetchone()

(1, 'Jose')
(2, 'Rolf')
(3, 'Anna')
(4, 'Robert')

## CREATE TABLE second

In [6]:
cur.execute('CREATE TABLE second (ID int, customer_ID int, products varchar)')

In [7]:
cur.execute('INSERT INTO second (ID, customer_ID, products) values (%s, %s, %s)',
           (1, 1, "Chair"))

cur.execute('INSERT INTO second (ID, customer_ID, products) values (%s, %s, %s)',
           (2, 1, "Pen"))

cur.execute('INSERT INTO second (ID, customer_ID, products) values (%s, %s, %s)',
           (3, 1, "Monitor"))

cur.execute('INSERT INTO second (ID, customer_ID, products) values (%s, %s, %s)',
           (4, 3, "Headphones"))

In [8]:
cur.execute("SELECT * FROM second")

row = cur.fetchone()


while row:
    print(row)
    row = cur.fetchone()

(1, 1, 'Chair')
(2, 1, 'Pen')
(3, 1, 'Monitor')
(4, 3, 'Headphones')

## CREATE TABLE third

In [9]:
cur.execute('CREATE TABLE third (id int, name varchar, year int)')

In [10]:
cur.execute("INSERT INTO third (id, name, year) VALUES (%s, %s, %s)", \
             (1, "Amanda", 2000))

cur.execute("INSERT INTO third (id, name, year) VALUES (%s, %s, %s)", \
             (2, "Toby", 2000))

cur.execute("INSERT INTO third (id, name, year) VALUES (%s, %s, %s)", \
             (3, "Max", 2018))

In [11]:
cur.execute("SELECT * FROM third")

row = cur.fetchone()


while row:
    print(row)
    row = cur.fetchone()

(1, 'Amanda', 2000)
(2, 'Toby', 2000)
(3, 'Max', 2018)

## Implement Join

In [13]:
cur.execute("SELECT * FROM (first JOIN second ON first.ID = second.ID) JOIN third ON first.ID = third.id")

row = cur.fetchone()


while row:
    print(row)
    row = cur.fetchone()

(1, 'Jose', 1, 1, 'Chair', 1, 'Amanda', 2000)
(2, 'Rolf', 2, 1, 'Pen', 2, 'Toby', 2000)
(3, 'Anna', 3, 1, 'Monitor', 3, 'Max', 2018)