# NoSQL Basics - Cassandra

### Import cassandra libraries

In [1]:
import cassandra
from cassandra.cluster import Cluster

c:\users\lord sanmilee\appdata\local\programs\python\python36\lib\site-packages\numpy\_distributor_init.py:32: UserWarning: loaded more than 1 DLL from .libs:
c:\users\lord sanmilee\appdata\local\programs\python\python36\lib\site-packages\numpy\.libs\libopenblas.IPBC74C7KURV7CB2PKT5Z5FNR3SIBV4J.gfortran-win_amd64.dll
c:\users\lord sanmilee\appdata\local\programs\python\python36\lib\site-packages\numpy\.libs\libopenblas.PYQHXLVVQ7VESDPUVUADXEVJOBGHJPAY.gfortran-win_amd64.dll
  stacklevel=1)

### create connection

In [2]:

try:
    cluster = Cluster(['127.0.0.1'])
    session = cluster.connect()

except Exception as e:
    print(e)

### test  connection

would give error because no keyspace has been connected to

In [3]:

try:
    session.execute("select * from music_library")

except Exception as e:
    print(e)

Error from server: code=2200 [Invalid query] message="No keyspace has been specified. USE a keyspace, or explicitly specify keyspace.tablename"

### create a keyspace named 'udacity'

In [4]:

try:
    session.execute("create keyspace if not exists udacity \
                with replication = {'class': 'SimpleStrategy', 'replication_factor':1}" )
                

except Exception as e:
    print(e)

### connect to keyspace

In [5]:

try:
    session.set_keyspace("udacity")

except Exception as e:
    print(e)

### think of query before you design in cassandra

![alt text](pic6.png "Image 1 Display")

### create table

In [6]:
query = "create table if not exists songs"
query = query + "(year int, song_title text, artist_name text, album_name text, single boolean, primary key(year, artist_name))"


try:
    session.execute(query)
            
except Exception as e:
    print(e)

### check if table was created

In [7]:

try:
    count = session.execute(query)
    
except Exception as e:
    print(e)
    
print(count.one())

None

### insert rows

![alt text](pic7.png "Image 1 Display")

In [8]:
# insert rows
query ="insert into songs (year, song_title, artist_name, album_name, single)"
query = query + "values(%s, %s, %s, %s, %s)"

try:
    session.execute(query, (1970, "Across The Universe", "The Beatles", "Let It Be", False))

except Exception as e:
    print(e)

try:
    session.execute(query, (1965, "Think For Yourself", "The Beatles", "Rubber Soul", False))

except Exception as e:
    print(e)


### validate data insertion

![alt text](pic7.png "Image 1 Display")

In [9]:
# validate inserted data
query = "select * from songs"

try:
    rows = session.execute(query)
except Exception as e:
    print(e)

for row in rows:
    print(row.year, row.album_name, row.artist_name)

1965 Rubber Soul The Beatles
1970 Let It Be The Beatles

### lets validate data model with intended query before database design

In [10]:

query = "select * from songs where year=1970 and artist_name='The Beatles' "

try:
    rows = session.execute(query)
except Exception as e:
    print(e)
    
for row in rows:
    print(row.year, row.album_name, row.artist_name)

1970 Let It Be The Beatles

### drop table

In [11]:
query = "DROP TABLE songs"


try:
    session.execute(query)
            
except Exception as e:
    print(e)

### check if table really deleted

In [12]:

query = "select * from songs where year=1970 and artist_name='The Beatles' "

try:
    rows = session.execute(query)
except Exception as e:
    print(e)
    
for row in rows:
    print(row.year, row.album_name, row.artist_name)

Error from server: code=2200 [Invalid query] message="unconfigured table songs"

### finally close session

In [13]:

session.shutdown()
cluster.shutdown()